<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="layout::head(title)"></div>

</head>
<div th:replace="layout::header"></div>
<body>
<h1 style="text-align: center; color: green;">Thêm Dịch Vụ Mới</h1><br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table>
            <form th:action="@{/facility/save}" method="post" th:object="${facilityDto}">
                <div class=" row">
                    <label>Loại Dịch Vụ :</label>
                    <div class="col-sm-6">
                        <select class="form-control" onchange="addFacility()" id="selectValue"
                                th:field="*{facilityType}">
                            <option th:value="0">Chọn Loại Dịch Vụ</option>
                            <option th:each="item:${facilityTypeList}" th:text="${item.name}"
                                    th:value="${item.id}"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class=" row">
                    <label>Tên Dịch Vụ:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:field="*{name}">
                        <small style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></small>
                    </div>
                </div>
                <br>
                <div class=" row">
                    <label>Diện Tích:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" th:field="*{area}">
                        <small style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label>Chi Phí Thuê:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" th:field="*{cost}">
                        <small style="color: red" th:errors="*{cost}" th:if="${#fields.hasErrors('cost')}"></small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label>Số Người Tối Đa:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" th:field="*{maxPeople}">
                        <small style="color: red" th:errors="*{maxPeople}" th:if="${#fields.hasErrors('maxPeople')}"></small>
                    </div>
                </div>
                <br>
                <div class=" row">
                    <label>Kiểu Thuê:</label>
                    <div class="col-sm-6">
                        <select class="form-control" th:field="*{rentType}">
                            <option th:value="0">Chọn Kiểu Thuê</option>
                            <option th:each="item:${renTypeList}" th:text="${item.name}"
                                    th:value="${item.id}"></option>
                        </select>
                    </div>
                </div>
                <br>

                <div class=" row" id="standardAdd">
                    <label>Tiêu Chuẩn Phòng:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:field="*{standardRoom}">
                        <small style="color: red" th:errors="*{standardRoom}" th:if="${#fields.hasErrors('standardRoom')}"></small>
                    </div>
                </div>
                <br>
                <div class=" row" id="descriptionAdd">
                    <label>Mô Tả Khác:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:field="*{descriptionOtherConvenience}">
                        <small style="color: red" th:errors="*{descriptionOtherConvenience}" th:if="${#fields.hasErrors('descriptionOtherConvenience')}"></small>
                    </div>
                </div>
                <br>
                <div class="row" id="poolAreaAdd">
                    <label>Diện Tích Hồ Bơi:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" th:field="*{poolArea}">
                        <small style="color: red" th:errors="*{poolArea}" th:if="${#fields.hasErrors('poolArea')}"></small>
                    </div>
                </div>
                <br>
                <div class=" row" id="numberOfFloorAdd">
                    <label>Số Tầng:</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" th:field="*{numberOfFloor}">
                        <small style="color: red" th:errors="*{numberOfFloor}" th:if="${#fields.hasErrors('numberOfFloor')}"></small>
                    </div>
                </div>
                <br>
                <div class=" row " id="addFreeService">
                    <label>Dịch Vụ Miễn Phí:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:field="*{facilityFree}">
                        <small style="color: red" th:errors="*{facilityFree}" th:if="${#fields.hasErrors('facilityFree')}"></small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <input class="btn btn-primary" type="submit" value="Thêm Mới">
                    </div>
                </div>
            </form>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>
</body>
<script>
    function addFacility() {
        let value = document.getElementById("selectValue").value;
        switch (value) {
            case "1":
                document.getElementById("standardAdd").style.display = 'block';
                document.getElementById("descriptionAdd").style.display = 'block';
                document.getElementById("addFreeService").style.display = 'none'
                document.getElementById("numberOfFloorAdd").style.display = 'block';
                document.getElementById("poolAreaAdd").style.display = 'block';
                document.getElementById("selectValue").value = 1;
                break
            case "2":
                document.getElementById("standardAdd").style.display = 'block';
                document.getElementById("descriptionAdd").style.display = 'block';
                document.getElementById("addFreeService").style.display = 'none'
                document.getElementById("numberOfFloorAdd").style.display = 'block';
                document.getElementById("poolAreaAdd").style.display = 'none';
                document.getElementById("selectValue").value = 2;
                break
            case "3":
                document.getElementById("standardAdd").style.display = 'none';
                document.getElementById("descriptionAdd").style.display = 'none';
                document.getElementById("numberOfFloorAdd").style.display = 'none';
                document.getElementById("poolAreaAdd").style.display = 'none';
                document.getElementById("selectValue").value = 3;
                document.getElementById("addFreeService").style.display = 'block';
                break
        }
    }
</script>
</html>