<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    User Login
</h1>
<form th:object="${user}" action="/login" method="post">
    <table>
<tr>
    <td>Email:</td>
    <td><input type="text" id="email" name="email"
          th:value="${cookieValue.value}"></td>
</tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<br>
<span th:text="${mess}"></span>
<span th:text="${user.email}"></span>
</body>
</html>