<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Thêm Mới Hợp Đồng</h1>
<form th:action="@{/contract/addContract}" method="post" th:object="${contract}">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Ngày Bắt Đầu</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="addStartDate" th:field="*{startDate}">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Ngày Kết Thúc</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="addEndDate" th:field="*{endDate}">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Tiền Gửi</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" onchange="validate()" id="addDeposit" th:field="*{deposit}">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Tổng Tiền</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" readonly id="tongTien">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Khách Hàng</label>
        <div class="col-sm-10">
            <select class="form-control" id="addCutomer" th:field="*{customer}">
                <option th:each="customer : ${customerList}" th:text="${customer.name}"
                        th:value="${customer.id}"></option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nhân Viên</label>
        <div class="col-sm-10">
            <select class="form-control" id="addEmployee" th:field="*{employee}">
                <option th:each="employee : ${employeeList}" th:text="${employee.name}"
                        th:value="${employee.id}"></option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Dịch Vụ</label>
        <div class="col-sm-10">
            <select class="form-control" id="addFacility" th:field="*{facility}">
                <option th:each="facility : ${facilityList}" th:text="${facility.name}"
                        th:value="${facility.id}"></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" onclick="addContract()" class="btn btn-primary">Xác Nhận</button>
    </div>
</form>
</body>
</html>