<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<nav th:replace="/layout :: nav"></nav>
<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Danh sách hợp đồng</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<p th:text="${mess}" style="color: red"></p>
<table id="tableService" class="table table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Dịch vụ</th>
    <th>Khách hàng</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th>Tiền đặt cọc</th>
    <th>Tổng tiền</th>
    <th>Các dịch vụ đi kèm</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contract, iState : ${contractDTOS}">
    <td th:text="${iState.count}"></td>
    <td th:text="${contract.getFacility().getName()}"></td>
    <td th:text="${contract.getCustomer().getName()}"></td>
    <td th:text="${contract.getStartDate()}"></td>
    <td th:text="${contract.getEndDate()}"></td>
    <td th:text="${contract.getDeposit()}"></td>
    <td th:text="${contract.getTotalCost()}">
    <td>
      <!-- Button trigger modal -->
      <button type="button" id="btnDetails" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal" th:attr="onclick=|getAttachFacility('${contract.getId()}')|">
        Danh sách các dịch vụ đi kèm
      </button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              th:attr="onclick=|getIdContract('${contract.getId()}')|">
        +
      </button>
    </td>
  </tr>
  <tr>
    <th></th>
    <th>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContractModal"
              onclick="clearListAT()">
        +
      </button>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tbody>
</table>
<!--Paging-->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" th:if="${contractDTOS.hasPrevious()}"
         th:href="@{/contracts(page=${contractDTOS.number -1})}">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" th:href="@{/contracts(page=0)}">1</a></li>
    <li class="page-item"><a class="page-link" th:href="@{/contracts(page=1)}">2</a></li>
    <li class="page-item">
      <a class="page-link" th:if="${contractDTOS.hasNext()}"
         th:href="@{/contracts(page=${contractDTOS.number +1})}">Next</a>
    </li>
  </ul>
</nav>
<!-- Modal show list attach facility-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Dịch vụ đi kèm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>STT</th>
            <th>Dịch vụ đi kèm</th>
            <th>Mã hợp đồng</th>
            <th>Số lượng</th>
          </tr>
          </thead>
          <tbody id="tbody">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal add new attach facility -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm mới dịch vụ đi kèm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/save-contract-detail}" th:object="${contractDetail}" method="post">
          <input id="contractId1" hidden th:field="*{contract}">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>STT</th>
              <th>Dịch vụ</th>
              <th>Trạng thái</th>
              <th>Đơn vị</th>
              <th>Giá tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attachFacility, iState : ${attachFacilities}">
              <td th:text="${iState.count}"></td>
              <td th:text="${attachFacility.getName()}"></td>
              <td th:text="${attachFacility.getStatus()}"></td>
              <td th:text="${attachFacility.getUnit()}"></td>
              <td th:text="${attachFacility.getCost()}"></td>
            </tr>
            </tbody>
          </table>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" th:field="*{attachFacility}">
              <option th:each="attachFacility1: ${attachFacilities}"
                      th:text="${attachFacility1.getName()}"
                      th:value="${attachFacility1.getId()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail5" class="form-label">Số lượng</label>
            <input th:field="*{quantity}" type="number" class="form-control" id="exampleInputEmail5"
                   aria-describedby="emailHelp"
                   required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal create contract-->
<div class="modal fade" id="createContractModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Tạo hợp đồng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/contracts/create}" method="post" th:object="${contractNew}" id="contractNew">
          <div class="mb-3">
            <label for="startDate" class="form-label">Ngày bắt đầu</label>
            <input type="datetime-local" class="form-control" id="startDate"
                   aria-describedby="emailHelp"
                   required th:field="*{startDate}">
          </div>
          <div class="mb-3">
            <label for="endDate" class="form-label">Ngày kết thúc</label>
            <input type="datetime-local" class="form-control" id="endDate"
                   placeholder="1970-11-07"
                   th:field="*{endDate}">
          </div>
          <div class="mb-3">
            <label for="deposit" class="form-label">Tiền đặt cọc</label>
            <input type="text" class="form-control" id="deposit" aria-describedby="emailHelp"
                   placeholder="VD: 13549681324" th:field="*{deposit}">
          </div>
          <div class="mb-3">
            <label class="form-label">Khách hàng
              <a href="/customers/">
                <button type="button" class="btn btn-secondary">Thêm mới khách hàng ở đây</button>
              </a>
            </label>
            <select th:field="*{customer}" class="form-select" aria-label="Default select example"
                    id="customer">
              <option th:each="customer: ${customers}" th:text="${customer.getName()}"
                      th:value="${customer.getId()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Nhân viên</label>
            <select th:field="*{employee}" class="form-select" aria-label="Default select example"
                    id="employee">
              <option th:each="employee: ${employees}" th:text="${employee.getName()}"
                      th:value="${employee.getId()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Dịch vụ</label>
            <select th:field="*{facility}" class="form-select" aria-label="Default select example"
                    id="facility" onchange="getTotalCost()">
              <option th:each="facility: ${facilities}"
                      th:text="${facility.getName()}"
                      th:value="${facility.getId()}"
                      th:data-cost="${facility.getCost()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Dịch vụ đi kèm</label>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop1">
              +
            </button>
          </div>
          <div class="mb-3">
            <label class="form-label">Danh sách dịch vụ đi kèm</label>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Dịch vụ đi kèm</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="content">

                </tbody>
              </table>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Tổng tiền tạm tính</label>
            <input type="text" class="form-control" id="totalCost" aria-describedby="emailHelp">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
            <button type="button" class="btn btn-primary" onclick="checkContract()">Tạo hợp đồng</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal add attach facility in contract-->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel12" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel12">Dịch vụ đi kèm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>STT</th>
            <th>Dịch vụ</th>
            <th>Trạng thái</th>
            <th>Đơn vị</th>
            <th>Giá tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="attachFacility, iState : ${attachFacilities}">
            <td th:text="${iState.count}"></td>
            <td th:text="${attachFacility.getName()}"></td>
            <td th:text="${attachFacility.getStatus()}"></td>
            <td th:text="${attachFacility.getUnit()}"></td>
            <td th:text="${attachFacility.getCost()}"></td>
          </tr>
          </tbody>
        </table>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" id="nameAT">
            <option th:each="attachFacility: ${attachFacilities}"
                    th:text="${attachFacility.getName()}"
                    th:value="${attachFacility.getId()}"
                    th:data-cost="${attachFacility.getCost()}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail5" class="form-label">Số lượng</label>
          <input type="number" class="form-control" id="quantityAT"
                 aria-describedby="emailHelp"
                 required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" onclick="addNewAttachFacility()">Thêm</button>
      </div>
    </div>
  </div>
</div>

<footer th:replace="/layout :: footer"></footer>
<script src="/jquery-3.6.3.min.js"></script>
<script>
  //Clear listAttachFacility để tạo 1 hợp đồng mới
  function clearListAT() {
    listAttachFacility.splice(0, listAttachFacility.length);
    getTotalCost();
  }

  // Xóa nội dung của tbody danh sách dịch vụ đi kèm khi modal bị ẩn
  $("#exampleModal").on("hidden.bs.modal", function () {
    $("#tbody").empty();
  });

  // Xóa nội dung của modal tạo hợp đồng khi modal bị ẩn
  $("#createContractModal").on("hidden.bs.modal", function () {
    $("#content").empty();
  });

  // lấy danh sách dịch vụ đi kèm theo từng hợp đồng
  function getAttachFacility(contractId) {
    let link = `http://localhost:8080/contracts/attach-facilities/${contractId}`;
    $.ajax({
      type: "GET",
      url: link,
      success: function (data) {
        console.log(data)
        let tbody = "";
        if (data.length === 0) {
          tbody = `
          <tr colspan="4">
            <td >Danh sách đang trống</td>
          </tr>
        `;
          $("#tbody").html(tbody);
        } else {
          for (let i = 0; i < data.length; i++) {
            tbody +=
                    `
            <tr>
              <td>${i + 1}</td>
              <td>${data[i].attachFacilityName}</td>
              <td>${data[i].contractId}</td>
              <td>${data[i].quantity}</td>
            </tr>
            `;
          }
        }
        $("#tbody").html(tbody);
      },
      fail: function (error) {
        console.log(error)
      }
    });
  }

  // Lấy id hợp đồng để thêm mới dịch vụ đi kèm
  function getIdContract(id) {
    $("#contractId1").val(id);
  }

  class AttachFacility {
    constructor(id, name, quantity, cost) {
      this._id = id;
      this._name = name;
      this._quantity = quantity;
      this._cost = cost
    }

    get cost() {
      return this._cost;
    }

    set cost(value) {
      this._cost = value;
    }

    get id() {
      return this._id;
    }

    set id(value) {
      this._id = value;
    }

    get name() {
      return this._name;
    }

    set name(value) {
      this._name = value;
    }

    get quantity() {
      return this._quantity;
    }

    set quantity(value) {
      this._quantity = value;
    }
  }

  //List này chứa attach facility khi tạo hợp đồng
  let listAttachFacility = [];

  function addNewAttachFacility() {
    var selectedId = $("#nameAT").val();
    var selectedName = $("#nameAT option:selected").text();
    let quantity = $("#quantityAT").val();
    var selectedCost = $("#nameAT option:selected").data("cost");

    let attachFacility = new AttachFacility(selectedId, selectedName, quantity, selectedCost);
    console.log(attachFacility);
    listAttachFacility.push(attachFacility);

    getTotalCost();

    $("#staticBackdrop1").modal('hide');
    $("#createContractModal").modal('show');
    display();
  }

  // Hiển thị tổng tiền tạm thời của hợp đồng đang tạo9
  function getTotalCost() {
    // Tính tổng tiền
    var totalCost = calculateTotal();
    // Hiển thị tổng tiền
    $('#totalCost').val(totalCost);
  }

  //Hiển thị list attach facility trong tạo mới hợp đồng
  function display() {
    let table = "";
    for (let i = 0; i < listAttachFacility.length; i++) {
      table +=
              `
                <tr>
    <td>${i + 1}</td>
    <td>${listAttachFacility[i].name}</td>
    <td>${listAttachFacility[i].quantity}</td>
    <td>${listAttachFacility[i].quantity * listAttachFacility[i].cost}</td>
    <td>
    <button type="button" onclick="(() => deleteAT(${i}))()" class="btn btn-danger">Xóa</button>
</td>
</tr>
                `
    }
    $('#content').html(table);
  }

  //Dùng để xóa attach facility trong tạo mới hợp đồng
  function deleteAT(id) {
    listAttachFacility.splice(id, 1);
    getTotalCost();
    display();
  }

  // Gửi dữ liệu về Controller gồm 1 đối tượng Contract và 1 danh sách dịch vụ đi kèm
  $('#createContractModal form').submit(function (e) {
    e.preventDefault(); // ngăn không cho form submit bình thường

    // Lấy các giá trị trong form
    let startDate = $("#startDate").val();
    let endDate = $("#endDate").val();
    let deposit = $("#deposit").val();
    let customerId = $("#customer").val();
    let employeeId = $("#employee").val();
    let facilityId = $("#facility").val();

    // Tạo một đối tượng Contract từ các giá trị trên
    let contract = {
      startDate: startDate,
      endDate: endDate,
      deposit: deposit,
      customer: {
        id: customerId
      },
      employee: {
        id: employeeId
      },
      facility: {
        id: facilityId
      }
    };

    // Tạo một mảng các đối tượng ContractDetail từ listAttachFacility
    console.log(listAttachFacility);
    let contractDetails = listAttachFacility.map(function (item) {
      return {
        id: item.id,
        quantity: item.quantity
      };
    });

    // Tạo một object chứa cả Contract và danh sách ContractDetail
    let data = {
      contract: contract,
      contractDetails: contractDetails
    };

    // Gửi request đến endpoint
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/contracts/create",
      data: JSON.stringify(data),
      dataType: 'json',
      success: function (response) {
        alert(response.mess);
        location.reload();
      },
      error: function (xhr, status, error) {
        console.log(error);
      }
    });
    $('#createContractModal').modal('hide');
  });

  //Tính tổng tiền tạm thời của hợp đồng đang tạo
  function calculateTotal() {
    let total = 0;
    // Tính tổng tiền từ listAttachFacility
    for (let i = 0; i < listAttachFacility.length; i++) {
      let attachFacility = listAttachFacility[i];
      total += attachFacility.quantity * attachFacility.cost;
    }

    // Tính tổng tiền từ <select>
    let selectedCost = +$("#facility option:selected").data("cost");
    total += selectedCost;

    return total;
  }

  //Kiểm tra định dạng ngày giờ của ngày làm hợp đồng và kết thúc hợp đồng
  function validateDate(dateString) {
    // Kiểm tra định dạng ngày giờ
    var regex = /^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$/;
    if (!regex.test(dateString)) {
      return false;
    }

    // Chuyển đổi thành đối tượng Date
    var date = new Date(dateString);

    // Kiểm tra tính hợp lệ của đối tượng Date
    if (isNaN(date.getTime())) {
      return false;
    }

    return true;
  }

  // Hàm checkContract sử dụng hàm validateDate để kiểm tra tính hợp lệ của ngày làm hợp đồng và ngày kết thúc hợp đồng
  function checkContract() {
    var contractStart = $("#startDate").val();
    var contractEnd = $("#endDate").val();

    if (!validateDate(contractStart)) {
      alert("Ngày giờ bắt đầu không hợp lệ!");
    } else if (!validateDate(contractEnd)) {
      alert("Ngày giờ kết thúc không hợp lệ!");
    } else {
      var start = new Date(contractStart);
      var end = new Date(contractEnd);
      var now = new Date();

      if (start < now) {
        alert("Ngày giờ bắt đầu phải lớn hơn hoặc bằng ngày giờ hiện tại!");
      } else if (end <= start) {
        alert("Ngày giờ kết thúc phải lớn hơn ngày giờ bắt đầu!");
      } else {
        $("#contractNew").submit();
      }
    }
  }

  const startDateInput = $('#startDate');

  // Cập nhật thời gian định kỳ
  setInterval(function() {
    // Lấy thời gian hiện tại
    const now = new Date();
    // Chuyển đổi thời gian thành chuỗi định dạng chuẩn ISO 8601
    const isoDate = now.toISOString().slice(0,16);
    // Gán chuỗi định dạng ISO 8601 vào thuộc tính value của ô input datetime-local
    startDateInput.val(isoDate);
  }, 1000); // cập nhật thời gian mỗi giây (1000ms)

</script>
</body>

</html>