<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(Home)}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="~{layout :: header}"></div>
<div th:replace="layout::nav"></div>
<div class="row">
  <img src=" https://cf.bstatic.com/xdata/images/hotel/max1024x768/62371531.jpg?k=fb1828d64f739b526944dcb487699e4625ad8799986e0e4ef5c2c930dcf39b6c&o=&hp=1">
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>