<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="layout::navbar"></nav>
<h1 style="text-align: center ;color: green"> Review Product</h1>
<a th:href="@{/shop}" class="btn btn-outline-primary">Quay Lại Cửa Hàng</a>
<form th:object="${product}">
    <div class="row">
        <div  class="card m-lg-3" style="width: 18rem;">

            <img th:src="${product.get().getImage()}"  style="width: 15rem;height: 20rem" >

            <div class="card-body">
                <span>Name product:&nbsp;&nbsp;</span>
                <span class="card-title" th:text="${product.get().name}"></span>
                <br>
                <span>Price:&nbsp;&nbsp;</span>
                <span class="card-text" th:text="${product.get().price}"></span>
                <br>
                <button class="btn btn-outline-primary"><a style="text-decoration: none; color: black" th:href="@{/add/__${product.get().id}__(action='list')}" >Add To Cart</a></button>
            </div>

        </div>
        <div  class="card m-lg-3" style="width: 18rem;">



            <div class="card-body">
                <p th:text="${product.get().description}"></p>
            </div>

        </div>
    </div>
</form>

<div class="row"></div>
<div class="row"></div>
<footer th:replace="layout::footer"></footer>
</body>
</html>